[Unit]
Description=nodes3imageserve Service
After=network.target

[Service]
User=ubuntu
Type=simple
ExecStart=~/imageserve/systemctl/runNode.sh
ExecStop=~/imageserve/systemctl/nodeAppExit.sh
Restart=on-abort

[Install]
